.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;

    @media screen and (max-width: 767px) {
        width: 50%;
    }

    .day {
        color: rgb(83, 175, 215);
        font-size: 20px;

        @media screen and (max-width: 767px) {
            color: rgb(10, 57, 78);
        }
    }

    .imgCard {
        img {
            width: 60px;
            height: 60px;
        }

    }

    .infoCard {
        display: flex;
        flex-direction: column;

    }

    &:hover {
        transform: scale(1.05);
    }
}