.weather {


    .top {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        .right {
            color: white;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 767px) {
                align-items: center;
                padding-top: 30px;
            }

            .inputContainer {
                display: flex;
                gap: 30px;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }

                input {
                    background-color: white;
                    color: black;
                    padding: 3px;
                    width: 50%;
                    border: none;
                    font-size: 15px;
                    border-radius: 5px;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }

                .inputNote {
                    font-size: 20px;
                    color: red;

                    @media screen and (max-width: 767px) {
                        font-size: 15px;
                    }
                }
            }

            .rightInformation {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                }

                .selectCity {
                    font-size: 60px;

                    .city {
                        text-transform: capitalize;

                        @media screen and (max-width: 767px) {
                            font-size: 40px;
                            padding-top: 10px;
                        }
                    }

                    .day {
                        font-size: 40px;
                        font-weight: 600;
                        padding-top: 20px;
                        color: rgb(34, 113, 231);

                        @media screen and (max-width: 767px) {
                            font-size: 30px;
                            color: rgb(8, 23, 45);
                        }
                    }
                }

                .information {
                    font-size: 25px;
                    padding-top: 50px;
                    color: rgb(34, 113, 231);
                    font-weight: 400;

                    @media screen and (max-width: 767px) {
                        font-size: 20px;
                        color: rgb(41, 66, 103);
                    }
                }
            }

        }

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .temprature {
                color: white;
                font-size: 60px;
                padding: 10px;
                font-weight: 700;

                @media screen and (max-width: 767px) {
                    font-size: 40px;
                }
            }

            .weatherImage {
                img {
                    width: 200px;
                    height: 200px;

                    @media screen and (max-width: 767px) {
                        width: 200px;
                        height: 200px;
                    }
                }

            }
        }
    }

    .bottom {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }

    }
}