.App {
  background-image: url("./image/sky3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;

  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}